In [1]:
import numpy as np
import pandas as pd

## Reading Data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   98.940547         1   73          1          -1              1
1  100.138422         1   40          0          -1              1
2   98.005722         1   36          0           1              1
3  100.020040         1  100          1           1              0
4   99.975871         0   64          0          -1              1

In [4]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2994  100.223318         1   83          0          -1              1
2995   99.377764         0   56          1           1              0
2996   98.558071         1   76          0          -1              0
2997   99.129380         0   18          0           0              0
2998  100.479671         1   40          0           1              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 6 columns):
fever            2999 non-null float64
bodyPain         2999 non-null int64
age              2999 non-null int64
runnyNose        2999 non-null int64
diffBreath       2999 non-null int64
infectionProb    2999 non-null int64
dtypes: float64(1), int64(5)
memory usage: 140.7 KB

In [6]:
df['diffBreath'].value_counts()

 1    1032
-1    1011
 0     956
Name: diffBreath, dtype: int64

In [7]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000
mean,100.029380,0.509170,50.280093,0.496832,0.007002,0.500834
std,1.157331,0.499999,28.981411,0.500073,0.825473,0.500083
min,98.005249,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.036419,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,100.083370,1.000000,50.000000,0.000000,0.000000,1.000000
75%,101.032711,1.000000,75.000000,1.000000,1.000000,1.000000
max,101.997203,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [8]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [9]:
train, test = data_split(df,0.2)

In [10]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1103   99.626924         0   96          0          -1              1
1569  101.140870         1   45          0           0              0
2229  100.493052         0   72          1           1              1
2296  101.040043         1   10          1          -1              1
1800   98.291372         1   67          1          -1              0
...          ...       ...  ...        ...         ...            ...
1638   99.992363         1   56          0           1              1
1095  100.398459         1   71          0           1              1
1130   98.129227         0   78          0           1              0
1294   98.456536         1   92          0           1              0
860    98.457049         0   56          1           1              0

[2400 rows x 6 columns]

In [11]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1376  101.842739         1   62          1           1              0
932    99.240114         1   57          1           1              1
144    99.797938         1    8          0           0              0
1752   98.977265         0   88          1           0              1
51     99.258682         0   70          0          -1              1
...          ...       ...  ...        ...         ...            ...
842   100.032875         0   52          0          -1              1
637    99.534759         0   80          1           0              0
695   100.994094         0   41          0           1              1
226    98.493471         1   58          1           0              1
2603  101.723643         1   53          0           1              0

[599 rows x 6 columns]

In [12]:
X_train = train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
X_test = test[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [13]:
Y_train = train[['infectionProb']].to_numpy().reshape(2400,)
Y_test = test[['infectionProb']].to_numpy().reshape(599,)

In [14]:
Y_train

array([1, 0, 1, ..., 0, 0, 0])

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
clf = LogisticRegression()
clf.fit(X_train,Y_train)

/home/kashif/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
inputFeature = [102,1,22,-1,1]
clf.predict_proba([inputFeature])[0][1]

0.5043689010968075